*.py linguist-detectable=true
*.cpp linguist-detectable=true
*.h linguist-detectable=true

*.md linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.php linguist-detectable=false
*.exe linguist-detectable=false
*.tar linguist-detectable=false
*.sig linguist-detectable=false
*.pgp linguist-detectable=false
